<div class="centered-content">
    <div class="modal-box">
      <h1 class="title">
        Edit Team Member
      </h1>
  
      <div class="field">
        <label class="label">First Name</label>
        <div class="control">
            <input #firstNameInput class="input has-background-light is-medium" type="text" placeholder="Enter First name...">
        </div>
      </div>
      
      <div class="field">
        <label class="label">Last Name</label>
        <div class="control">
            <input #lastNameInput class="input has-background-light is-medium" type="text" placeholder="Enter Last name...">
        </div>
      </div>

          
      <br><br>
      <div class="buttons is-right">
        <button class="button is-medium" routerLink="/">Cancel</button>
        <button class="button is-primary has-text-white is-medium" (click)="updateTeam(firstNameInput.value,lastNameInput.value)" >Save</button>
      </div>
  
      
    </div>
  </div>

